#ShoppingMall {
  height: 100%;
  transition: all 0.5s;
  left: 0;
  top: 0;
  display: inline-block;
  width: 100%;
 
}


#list-products-body {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-bottom: 20px;
}

#list-title {
  font-weight: 500;
  font-size: 70px;
  color:rgb(110, 110, 109);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(221, 220, 220);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(214, 208, 208);
}


#btnShowMore {
  margin-top: 20px;
  background-color: transparent;
  border: 0;
  color: rgb(168, 162, 162);
  font-size: 25px;
  font-weight: 700;
  font-family: revert;
  margin-bottom: 40px;
}

#btnShowMore:hover {
  color: rgb(63, 186, 61);

}

#AllList {
  padding-bottom: 50px;
}