#list-products {
  height: 100%;
  transition: all 0.5s;
  left: 0;
  top: 0;
}

#list-products.fullscreen {
  transform: translate(-100%, 0);
}

#list-scenes.fullscreen {
  transform: translate(100%, 0);
}

#list-products-body {
  overflow-x: scroll;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10%;
}

#list-title {
  font-weight: 700;
  font-size: 70px;
  color:rgb(110, 110, 109);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(221, 220, 220);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(214, 208, 208);
}
