body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'lobster';
  src: local('lobster'), url(./fonts/lobster/Lobster-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'lobsterTwo-Bold';
  src: local('lobsterTwo-Bold'), url(./fonts/lobster/LobsterTwo-Bold.ttf) format('truetype');
}


@font-face {
  font-family: 'lobsterTwo-Regular';
  src: local('lobsterTwo-Regular'), url(./fonts/lobster/LobsterTwo-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'cinzel';
  src: local('cinzel'), url(./fonts/Cinzel-VariableFont_wght.ttf) format('truetype');
}
